.section_bill{
    padding: 3vh;
}
.section_bill p{
   margin-bottom: 5px;
   font-family: Space,monospace;
   color: hsl(183, 100%, 15%);
   font-size: 15px;
}
.div_container_input{
    background-color: hsl(185, 41%, 84%);
    border-radius: 5px;
    width: 40vh;
    height: 50px;
    display: flex;
    align-items: center;
    color: hsl(183, 100%, 15%);
    padding: 2vh;
}
.section_bill input{
    width: 40vh;
    border-radius: 5px;
    border: none;
    background-color: hsl(185, 41%, 84%);
}

.section_bill .error{
    color: red;
    width: 32vh;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 219, 219);
    margin-top: 5px;
}