.btm_reset{
    height: 23vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.buttom_reset{
    width: 35vh;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
    font-size: 25px;
    font-family: Space,monospace;
    cursor: pointer;
}

@media (max-width: 840px){
      .buttom_reset{
          margin-bottom: 2vh;
      }
 
}