.section_people{
   margin: 1vh;
}
.section_people p {
    margin-left: 2vh;
    font-family: Space,monospace;
    font-size: 15px;
    color: hsl(183, 100%, 15%);
}

.div_people{
    border-radius: 5px;
    padding: 2vh;
    margin: 1vh;
    width: 40vh;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1vh;
    background-color: hsl(185, 41%, 84%);
}

.div_people input{
    background-color: hsl(185, 41%, 84%);
    width: 45vh;
}
.icon_people{
    color: hsl(183, 100%, 15%);
}

.section_people .error{
    color: red;
    width: 32vh;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 219, 219);
    margin-top: 5px;
}