*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  background-color: hsl(185, 41%, 84%);
}
main{
  display: flex;
}

@media (max-width: 840px){
      
     main{
       display: flex;
       flex-direction: column;
     }
}
